
run = "python main.py"
entrypoint = "main.py"
hidden = [".config", ".git", ".gitignore", ".env"]

[env]
PYTHONPATH = "."
FLASK_APP = "main.py"
FLASK_ENV = "development"
FLASK_DEBUG = "1"
PORT = "5000"
HOST = "0.0.0.0"

[languages]

[languages.python]
pattern = "**/*.py"

[languages.python.languageServer]
start = "pylsp"

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".gitignore"]

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"
