run = "python run.py"
hidden = [".git", ".config", "__pycache__", "*.log", "models_tested.lock", "running.lock"]

entrypoint = "run.py"

[nix]
channel = "stable-22_11"

[env]
PYTHONPATH = "$PYTHONPATH:${REPL_HOME}/"
PYTHONUNBUFFERED = "1"
PORT = "5000"
HOST = "0.0.0.0"
FLASK_APP = "main.py"
FLASK_ENV = "development"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[languages]
[languages.python3]
pattern = "**/*.py"
[languages.python3.languageServer]
start = "pylsp"

[deployment]
run = ["sh", "-c", "python run.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Start Dashboard"

[[workflows.workflow]]
name = "Run"
author = 31819671
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py"

[[workflows.workflow]]
name = "Create Models"
author = 31819671
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python create_models.py"

[[workflows.workflow]]
name = "Start Dashboard"
author = 31819671
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
